{% extends "flightsApp/base.html" %}
{% block content %}
<div class="flights-container">
    <div class="flights-title">
        {% if flightsNotFound %}
        <div class="flights-error-title">
            <h1>Sorry, we're flying high right now! Check back soon for more availability.</h1>
            <a href="{% url 'home_page' %}">Go Home</a>
        </div>
        {% else %}
        <h2>Your adventure awaits - take a look at these flights!</h2>
        {% endif %}
    </div>
    {% for flight in flights %}
    <div class="flight-div">
        <span><h4>Id: </h4>{{ flight.filght_id }}</span><br>
        <span><h4>Airline Id: </h4>{{ flight.airline_name }}</span><br>
        <span><h4>Arrival City Id: </h4>{{ flight.arr_city }}</span><br>
        <span><h4>Departure City Id: </h4>{{ flight.des_city }}</span><br>
        <span><h4>Date: </h4>{{ flight.date }}</span><br>
        <span><h4>No. of Seats: </h4>{{ flight.number_of_seats }}</span><br>
        <span><h4>Price: </h4> ₹ &nbsp; {{ flight.price }} /- </span><br>
    </div>
    {% endfor %}
</div>
{% endblock content %}