{% extends "flightsApp/base.html" %}
{% block content %}
    {% for user in users %}
    <br>
    <div>
        <span>User Id: {{ user.user_id }}</span><br>
        <span>{{ user.first_name }}  {{ user.last_name }}</span><br>
        <span>D.O.B : {{ user.dob }}</span><br>
        <span>PASSPORT NUMBER : {{ user.passport_number }}</span><br>
        <span>Email Id: {{ user.email }}</span><br>
        <span>Phone No: {{ user.phone }}</span><br>
        <span>Address: {{ user.address }}</span><br>
    </div>
    {% endfor %}
{% endblock content %}