<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter Employee</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
    <body>
    <div class="container">
        <h1> Filter Employee Details</h1>
        <hr>

        <form action="/filter_emp/" method="post">
        {% csrf_token %}

          <label for="name" class="form-label">Employee First/Last Name:</label>
          <input type="text" name="name" class="form-control" id="name" required>


          <label for="dept_name" class="form-label">Department:</label>
          <input type="text" name="dept_name" class="form-control" id="dept_name" required>

          <label for="role" class="form-label">role:</label>
          <input type="text" name="role" class="form-control" id="role" required>



        <button type="submit" class="btn btn-primary float-end my-2">Add Employee</button>
      </form>

    </div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>